//------------------------------------------------------------------------------
//
//  Body
//
//------------------------------------------------------------------------------

html, body {
  background-color: $navy;
  @include background(radial-gradient(ellipse contain, lighten($navy, 4%), $navy));
  height: 100%;
}

body {
  color: $contrast;
  font-family: Effra;
  font-weight: 100;
  font-size: 12px;
  line-height: 145%;
  margin: 0;
}

//------------------------------------------------------------------------------
//
//  Links
//
//------------------------------------------------------------------------------

a {
  color: $lemon;
  text-decoration: none;
}

//------------------------------------------------------------------------------
//
//  Container
//
//------------------------------------------------------------------------------

.global {
  width: 1024px;
  margin: auto;
}

//------------------------------------------------------------------------------
//
//  Focus
//
//------------------------------------------------------------------------------

:focus {
  outline: none;
}
