//------------------------------------------------------------------------------
//
//  Logo
//
//------------------------------------------------------------------------------

.pinstripe {
  background: url('/images/pinstripe.svg') no-repeat;
  background-size: contain;
  width: 290px;
  height: 60px;
  margin-top: 28px;
}
