//------------------------------------------------------------------------------
//
//  Headings
//
//------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 2.5em 0;
}

h1, h2, h3 {
  font-weight: 100;
}

h4, h5, h6 {
  font-weight: 400;
}

h2 {
  text-align: center;
  color: $peppermint;
}

//------------------------------------------------------------------------------
//
//  Weights
//
//------------------------------------------------------------------------------

strong {
  font-weight: 400;
}