//------------------------------------------------------------------------------
//
//  Colour palette
//
//------------------------------------------------------------------------------

$navy:        #16191e;
$contrast:    #fff;
$chrome:      #edecf1;
$lemon:       #f1e400;
$pear:        #c8d300;
$spearmint:   #7dcad3;
$peppermint:  #3bb8bb;

$palette:     $navy $contrast $chrome $lemon $pear $spearmint $peppermint;

//------------------------------------------------------------------------------
//
//  Gradients
//
//------------------------------------------------------------------------------

$bloody-mary: #ff512f #dd2476;
$sea-weed:    #4cb8c4 #3cd3ad;
$mojito:      #1d976c #93f9b9;
$mirage:      #16222a #3a6073;
$mystic:      #757f9a #d7dde8;
$clouds:      #ece9e6 #ffffff;
$autumn:      #dad299 #b0dab9;
$earthly:     #649173 #dbd5a4;

//------------------------------------------------------------------------------
//
//  Transitions
//
//------------------------------------------------------------------------------

$hover-transition-time: 0.3s;
$hover-transition-easing: ease-out;