@import 'variables';

//------------------------------------------------------------------------------
//
//  Body
//
//------------------------------------------------------------------------------

html, body {
  background-color: $navy;
  height: 100%;
  overflow: hidden;
}

body {
  color: $contrast;
  font-family: 'Source Sans Pro', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial;
  font-size: $font-size-base;
  letter-spacing: -0.01em;
  line-height: 1.4;
  margin: 0;
}

//------------------------------------------------------------------------------
//
//  Links
//
//------------------------------------------------------------------------------

a {
  color: $lemon;
  text-decoration: none;
  
  &:hover {
    border-bottom: 1px solid currentColor;
  }
}

//------------------------------------------------------------------------------
//
//  Container
//
//------------------------------------------------------------------------------

.global {
  margin: auto;
  width: $page-width;
}

//------------------------------------------------------------------------------
//
//  Focus
//
//------------------------------------------------------------------------------

:focus {
  outline: none;
}
