//------------------------------------------------------------------------------
//
//  Body
//
//------------------------------------------------------------------------------

html, body {
  background-color: $navy;
  height: 100%;
}

body {
  color: $contrast;
  font-family: 'Proxima Nova', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial;
  font-size: 16px;
  line-height: 145%;
  margin: 0;
}

//------------------------------------------------------------------------------
//
//  Links
//
//------------------------------------------------------------------------------

a {
  color: $lemon;
  text-decoration: none;
}

//------------------------------------------------------------------------------
//
//  Container
//
//------------------------------------------------------------------------------

.global {
  margin: auto;
  width: $page-width;
}

//------------------------------------------------------------------------------
//
//  Focus
//
//------------------------------------------------------------------------------

:focus {
  outline: none;
}
