@import 'variables';

@import 'modules/viz';
@import 'modules/hex';

//------------------------------------------------------------------------------
//
//  Logo
//
//------------------------------------------------------------------------------

.pinstripe {
  background: url('../images/Pinstripe.io.svg') no-repeat;
  background-size: contain;
  margin: 5% 0 5% 1%;
  height: 33px;
  width: 318px;
}

//------------------------------------------------------------------------------
//
//  Corner
//
//------------------------------------------------------------------------------

.corner {
  @include transform(rotate(-45deg) translate(-139px, -140px));
  @include transform-origin(50% 0);
  width: 390px;
}

//------------------------------------------------------------------------------
//
//  Strap
//
//------------------------------------------------------------------------------

.strap {
  color: transparentize($chrome, 0.4);
  font-size: $font-size-small;
  margin: 0 -50% 0 50%;
  text-transform: uppercase;

  p {
    line-height: 1;
    margin: 0 0 0.2em 0;
  }

  strong {
    @extend .contrast;
    font-weight: normal;
  }
}
