//------------------------------------------------------------------------------
//
//  Body
//
//------------------------------------------------------------------------------

html, body {
  background-color: $navy;
  //@include background(radial-gradient(ellipse farthest-corner at 50% 10px, lighten($navy, 4%), $navy));
  //@include background(linear-gradient(to right, $navy 10%, lighten($navy, 4%) 90%));
  $g1: nth($mirage, 1);
  $g2: nth($mirage, 2);
  @include background(linear-gradient(to right, $navy 10%, $g1 90%));
  height: 100%;
  height: 3000px;
}

body {
  color: $contrast;
  font-family: Effra;
  font-weight: 100;
  font-size: 12px;
  line-height: 145%;
  margin: 0;
}

//------------------------------------------------------------------------------
//
//  Links
//
//------------------------------------------------------------------------------

a {
  color: $lemon;
  text-decoration: none;
}

//------------------------------------------------------------------------------
//
//  Container
//
//------------------------------------------------------------------------------

.global {
  width: 1024px;
  margin: auto;
}

//------------------------------------------------------------------------------
//
//  Focus
//
//------------------------------------------------------------------------------

:focus {
  outline: none;
}
